BASE_URL=https://artaabedi.com
SPOTIFY_CLIENT_ID=b1d29ba24e024655a07b78a5c1dcb287
SPOTIFY_CLIENT_SECRET=20a2ea65172c451b888bccef138f2429
SPOTIFY_REFRESH_TOKEN=AQAouyIQIasjq2ZypMcNYtOZlLeWSEf9SO7HmO7IEnENVqlAvdJYO7ekcT0mPBchn9NNTCa2fwQfd574HOsLn6rRnJ1lfuPP5pg9WY7yS98R_d1DHxrnbj1dlM9LSaVph_VZjrte60ERXYq9E4Kmsb-iCZR8Esiy7G766obdhq3JNJ7LVVaJiEQK05HKu8vGOjgo6OV5nQ9fsKOPkmDKBtjHk0PaIKFWJLBceJfSIrybTuiJ1ZvcE4yn7sl84fdgg0vlyteQMnNe3P9BQsoTuf3tsjAOOWBMHx0PzNwZXKpuPHnFANnCh3rv7RGu5qjRoHHZec7WUeIf-GSVBtlX5RI4UnihxOP4KwB_0ZYesh9GK-I6jRYmkL4SRHYtIXiM-04hdi5z4WTJmXAYtQISBQeBLzylD7WmPnZyKR2SNWymkhceArx6bdaflsIrdUnIxr3nWqeNF15Dh9rZVqHvcF9MKC1ztKnFqfesU0yniRtJq1_jCXDFke-j-s4UITyKS_KhSzadL2i8_CmuXd9GZO9PWL6_mXx09isV39fcI42KXGd2mW4532yqGtiXqDj4vy7E_ZXdd1sl-zgD_DRmckYkfKcC29x4J1QlwR4eG0N0CF9-CSX4cosvhAZFc_-SxOqXG4oMnT2O9Ymv9RwGd3USfyxSKPLfdjR2jUZLDCpLdfHB3t4JEHAxwkTE1p1tTuPQkD8NzE8nAUt5gZcS3A
